@media screen and (min-width: 320px) {
    .main .card {
        width: 16rem;
    }


}

@media screen and (min-width: 425px) {
    .main .card {
        width: 18rem;
    }
}

@media screen and (min-width: 576px) {
    .main .card {
        width: 8rem;
    }

}

@media screen and (min-width: 768px) {

    .main .card {
        width: 11rem;
    }
}

@media screen and (max-width: 576px) {

    .col-sm-3 {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-width: 767px) {
    .media {
        flex-direction: column;
    }

    .footer__divFlex__divCol {
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .main .card {
        width: 14rem;
    }
}

@media screen and (min-width: 1440px) {
    .main .card {
        width: 18rem;
    }
}